.witcher {
  --white: #F1F1F1;
  --brown: #413D37;
  --petit-bandeau: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}

.witcher-text-color {
  color: var(--brown);
  &::placeholder {
    color: var(--brown);
  }
}
