:root {
  --card-radius : 5%;

  --card-f-border-color: #F1F1F1;
  --card-f-border-width : 1px;
  --card-f-bg: #F1F1F1;
  --card-f-border : solid var(--card-f-border-width) var(--card-f-border-color);

  --card-b-border-color: #F1F1F1;
  --card-b-border-width : 1px;
  --card-b-bg: #F1F1F1;
  --card-b-border : solid var(--card-b-border-width) var(--card-b-border-color);

  --bottom-shape : polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);

}

.card {
  container-type: inline-size;
  font-family: Baskervville , serif;
  background-color: var(--card-f-bg);
  border: var(--card-f-border);
  border-radius: var(--card-radius);
  aspect-ratio: 2.5/3.5;
  position: relative;
  transform-style: preserve-3d;
}

.card-img-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.card-back {
  container-type: inline-size;
  background-color: var(--card-b-bg);
  border: var(--card-b-border);
  border-radius: var(--card-radius);
  aspect-ratio: 2.5/3.5;
  position: relative;
  transform-style: preserve-3d;
}

.card-back-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-name {
  font-size: 7.5cqw;
  font-family: gwent , serif;
}

.card-text {
  font-size: 4cqw;
}

.card-info {
  font-size: 4cqw;
}

.card-attribute {
  font-size: 3cqw;
  width: 75%;
  padding: 2.5px 5px;
  white-space: nowrap;
}

.card-ratio {
  aspect-ratio: 2.5/3.5;
}

.no-rounded {
  * {
    border-radius: unset !important;
  }
}

.tiptap .is-empty {
  text-align: center;
  &::before {
    float: unset;
    color: #413D37;
    font-weight: 700;
    font-style: italic;
  }
}

body > div:last-child > span + img {
  display: inline !important;
}
