@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts.css";
@import "./card.css";

@import "./templates/witcher.css";

@plugin "daisyui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-shark-50: #fafafa;
  --color-shark-100: #f3f3f6;
  --color-shark-200: #e2e3e9;
  --color-shark-300: #d2d3db;
  --color-shark-400: #9b9eb0;
  --color-shark-500: #6b6f80;
  --color-shark-600: #4c4f61;
  --color-shark-700: #3b3d4a;
  --color-shark-800: #212227;
  --color-shark-900: #16171d;
  --color-shark-950: #08090c;

}
