@import "tailwindcss";
@import "@nuxt/ui";

@import "./fonts.css";

@import "./app/global.css";
@import "./app/animations.css";
@import "./app/inputs.css";

@import "./card.css";

@import "./templates/witcher.css";


@theme {
  --font-sans: 'Montserrat', sans-serif;

  --color-shark-50: #fafafa;
  --color-shark-100: #f3f3f6;
  --color-shark-200: #e2e3e9;
  --color-shark-300: #d2d3db;
  --color-shark-400: #202228;
  --color-shark-500: #6b6f80;
  --color-shark-600: #4c4f61;
  --color-shark-700: #3b3d4a;
  --color-shark-800: #212227;
  --color-shark-900: #16171d;
  --color-shark-950: #08090c;

}

:root {
  --ui-primary: #ADA46A;
  --ui-bg: #202228;
  --ui-border: #16171d;
  --ui-bg-elevated: #202228;

  --gray: #202228;
  --black: #111216;
  --red: #ab4848;

  --ui-color-primary-50: #f6f6f0;
  --ui-color-primary-100: #eae9d8;
  --ui-color-primary-200: #d7d4b4;
  --ui-color-primary-300: #c0ba89;
  --ui-color-primary-400: #ada46a;
  --ui-color-primary-500: #998e55;
  --ui-color-primary-600: #817446;
  --ui-color-primary-700: #665a3a;
  --ui-color-primary-800: #574c34;
  --ui-color-primary-900: #4c4230;
  --ui-color-primary-950: #2a2319;

}
